
.cart {
    display: flex;
    flex-direction: column;
}

.cart-header {
    padding: 3rem;
}

.cart-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.item-header {
    text-align: center;
}

.cart-summary {
    align-self: flex-end;
    margin: 5rem 0;
    padding: 1rem;
    display: flex;
    gap: 1rem;
}