.product-card {
  width: 200px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card-img {
  height: 70%;
}

.product-card-info {
  display: flex;
  flex-direction: column;
}

.product-card-price {
  align-self: flex-end;
}
